body {
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main,
footer {
  max-width: 100%;
  margin: auto;
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .studies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
