.container {
  display: flex;
  margin-right: 4vw;
  margin-left: 11.4vw;
  justify-content: space-between;
  text-align: start;
}

.cardContainer {
  max-width: 40%;
  flex: 1 1 40%;
}

.fullName {
  margin-bottom: 0.5em;
}

.studyProgramme {
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 12px;
  color: var(--tekstSort);
}

.profileImageContainer {
  margin-bottom: 1em;
  margin-top: 25px;
}

.profileImage {
  width: 27.8vw;
}

.bioContainer {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
  max-width: 50%;
}

.bio {
  font-size: 20px;
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    margin: 0 5vw;
  }

  .cardContainer {
    max-width: none;
  }

  .studyProgramme {
    font-weight: 500;
    font-size: 14px;
  }

  .bioContainer {
    margin-top: 15px;
    margin-bottom: 25px;
    max-width: none;
  }

  .bio {
    font-size: 14px;
  }

  .profileImage {
    width: 67.7vw;
  }

  .test {
    order: 3;
  }
}
