.footer {
    background-color: var(--tekstSort);
    color: var(--bakgrunnHvit);

    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 2rem;
}

.gridItem {
    height: 100%;
}

.gridItem:last-child {
    text-align: right;
}

.gridItem p {
    padding-top: .1rem;
}

.staticImg {
    max-width: 300px;
}



@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
    }
    .gridItem:last-child {
        margin-top: 2rem;
    }
}
