/* ------------------- Color palette ------------------- */

:root {
  /* Brukes på tekst mot lys bakgrunn eller som bakgrunn i dark mode */
  --tekstSort: #3e3e3e;

  /* Brukes som tekst mot mørk bakgrunn eller som bakgrunn i standard modus */
  --bakgrunnHvit: #fdf9ed;

  /* Brukes på stor tekst, "call to action" og grafiske elementer */
  --elementGrønn: #5d9942;
}

/* ------------------- Font family ------------------- */

@import url("https://use.typekit.net/jpr2mtr.css");

:root {
  --ohno-blazeface: ohno-blazeface, sans-serif;
  --aktiv-grotesk: aktiv-grotesk, sans-serif;
}

/* ------------------- Font size ------------------- */

:root {
  /* Headers */
  --fs-h1: 36px;
  --fs-h2: 24px;
  --fs-h3: 20px;
}

/* ------------------- Predefined tag styles ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--tekstSort);
  font-family: var(--aktiv-grotesk);
}

p {
  font-family: var(--aktiv-grotesk);
  font-size: 14px;
  line-height: 114.3%;
}

h1,
h2,
h3 {
  font-family: var(--ohno-blazeface);
  color: var(--tekstSort);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
  margin: 30px 0;
}

h3 {
  font-size: var(--fs-h3);
}

/* ------------------- Mobile font size ------------------- */

@media (min-width: 830px) {
  :root {
    /* Headers */
    --fs-h2: 36px;
    --fs-h3: 24px;
    --fs-h4: 20px;
    --fs-h5: 18px;
    --fs-h6: 12px;
    /* Body */
    --fs-pl: 20px;
    --fs-pm: 18px;
    --fs-ps: 14px;
    --fs-pxs: 12px;
  }
}

@media screen and (min-width: 830px) {

  html,
  body {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }
}