/* <main> */
.main {
    padding-bottom: 2rem;
    min-height: 95vh; /* Makes sure footer stays at bottom */
    background-color: var(--bakgrunnHvit);
}

@media (max-width: 900px) {
    .main {
        padding-top: 110px;
    }
}