.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    padding-bottom: 2rem;
    min-height: calc(100vh - 210px - 190px);
    background-color: var(--color-background);
    width: 85%;
    max-width: 1300px;
}

@media (max-width: 900px) {
    .main {
        padding-top: 110px;
        min-height: calc(100vh - 200px);
    }
}