.ProjectCard {
    display: flex;
}

.ProjectCard img {
    cursor: pointer;
    width: 51vw;
    height: 100%;
    margin-right: 4vw;
}

.ProjectCard p {
    max-width: 29.1vw;
    margin-right: 4.5vw;
}

@media screen and (max-width: 1200px) {
    .ProjectCard {
        flex-direction: column;
        gap: 8px;
        width: 76vw;
    }

    .ProjectCard img {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .ProjectCard p {
        max-width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 900px) {
    .ProjectCard {
        width: 87.2vw;
    }

    .ProjectCard img {
        cursor: default;
        width: 100%;
    }
}