.ProjectCard {
  display: flex;
  flex-wrap: wrap;
}

.ProjectCard h3 {
  flex: 100%;
  margin-bottom: 6px;
}

.ProjectCard img {
  cursor: pointer;
  width: 56%;
  height: 100%;
  margin-right: 4.3%;
}

.ProjectCard>div {
  max-width: 39.7%;
}

@media screen and (max-width: 1200px) {
  .ProjectCard {
    flex-direction: column;
    gap: 8px;
  }

  .ProjectCard img {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .ProjectCard p {
    margin: 0;
  }

  .ProjectCard>div {
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {

  .ProjectCard img {
    cursor: default;
  }
}