/* Denne css filen kan hende ikke trengs se socialLinks.jsx for mer info */

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* De har brukt opacity på hoved fargen, så gjorde det samme her */
  background-color: rgb(104, 155, 76, 0.32);
  border-radius: 5px;
  margin-right: 0.8em;
  padding: 4px 8px;
}

.socialLinkIcon {
  color: var(--tekstSort);
  display: flex;
}