.allIconsContainer {
  display: flex;
  align-items: center;
  max-width: 400px;
  color: var(--color-text);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(104, 155, 76, 0.32);
  border-radius: 5px;
  margin-right: 0.8em;
  padding: 0.4em;
  width: 40px;
}

@media (prefers-color-scheme: dark) {
  .iconContainer {
    background-color: rgb(93, 153, 66, 0.68);
  }
}

.portfolioLink {
  font-weight: 500;
}

.socialLinkIcon path {
  stroke: var(--color-text);
}